<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {style:'detail'}) %>

  <body>
    <%- include('../partials/navbar.ejs') %>

      <main class="container">
        <img src="/images/products/<%= product.image %>" alt="imagen-del-prod">
        <div class="card-description">
          <h1>
            <%= product.name %>
          </h1>
          <p>
            <%= product.description %>
          </p>
          <h4>Genero: <%= product.genre.name %>
          </h4>

          <a class="btn update" href="/prod/update/<%= product.id %>">Editar Producto</a>

          <form action="/prod/delete/<%= product.id %>?_method=DELETE" method="post">
            <button class="btn delete" type="submit">Eliminar producto</button>
          </form>

        </div>


      </main>

      <%- include('../partials/footer.ejs') %>
  </body>

</html>